{% extends 'base.html.twig' %}



{% block body %}

<div class="container my-5 ">
        <button class="btn btn-primary"><a href="create" class="text-light">Add Task</a> </button>
        <table class="table my-5">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Task</th>
                    <th scope="col">Details</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
            {% for data in add %}
                <tr>
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.tasktype}}</td>
                    <td>{{data.dueDate}}</td>
                    <td>
                        
                        <button class="btn btn-warning"><a href="{{ path('task_update',{'id': data.id} )}}" class="text-light">Update</a></button>
                        <button class="btn btn-danger"><a href="{{ path('task_delete',{'id': data.id} )}}" class="text-light">delete</a></button>
                     </td>
                    
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
