{% extends 'base.html.twig' %}



{% block body %}

<div class="container my-5 ">
<div class="card">
<article class="card-body">
        <table class="table table-striped my-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Email</th>
                    <th scope="col">UserID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
            {% for data in Join %}
                <tr>
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.userid.email}}</td>
                    <td>{{data.userid.id}}</td>
                    <td>{{data.tasktype}}</td>
                    <td>{{data.dueDate}}</td>           
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(Join) }}
    </div>
    </article>
    </div>
    </div>
    

{% endblock %}
